//- Scripts default start

script(src="assets/js/libs/jQuery.js", type="text/javascript")
script(src="assets/js/libs/jquery.arcticmodal-0.3.min.js", type="text/javascript")
script(src="assets/js/libs/perfect-scrollbar.js", type="text/javascript")
script(src="assets/js/libs/jquery.countdown.min.js", type="text/javascript")
script(src="assets/js/libs/slick-slider.js", type="text/javascript")

//- Scripts default end

//- Scripts main start

//script(src="assets/js/libs/scroll-animation/scrollreveal.min.js", type="text/javascript")
script(src="assets/js/libs/scroll-animation/SmoothScroll.js", type="text/javascript")
//- script(src="assets/js/libs/scroll-animation/jQuery-viewport-checker.js", type="text/javascript")
//script(src="assets/js/libs/gsap-animation/TweenMax.min.js", type="text/javascript")
//- script(src="assets/js/libs/gsap-animation/ScrollMagic.min.js", type="text/javascript")
//- script(src="assets/js/libs/gsap-animation/animation.gsap.js", type="text/javascript")
//- script(src="assets/js/libs/gsap-animation/debug.addIndicators.min.js", type="text/javascript")

each js in htmlWebpackPlugin.files.js
	script(src=js, type="text/javascript", defer)

//- Scripts main end