//- Scripts default start

script(src="assets/js/libs/default/perfect-scrollbar.min.js", type="text/javascript")
script(src="assets/js/libs/default/tiny-slider.js", type="text/javascript")

//- Scripts default end


// =====================================================================================================================
// =====================================================================================================================


//- Scripts main start


each js in htmlWebpackPlugin.files.js
	script(src=js, type="text/javascript", defer)


//- Scripts main end