//- Styles default start

link(href="styles/libs/perfect-scrollbar.css", rel="stylesheet")
link(href="styles/libs/tiny-slider.css", rel="stylesheet")

//- Styles default end


// =====================================================================================================================
// =====================================================================================================================


//- Styles main start

each cssName in htmlWebpackPlugin.files.css
	link(href=cssName, rel='stylesheet', id='ltrToRtl')
// - for (var cssIndex = 0; cssIndex < htmlWebpackPlugin.files.css.length; cssIndex++)
// 	link(href=htmlWebpackPlugin.files.css[cssIndex], rel='stylesheet')

//- Styles main end