/*! Raffle page */
/*======================================================================================================================*/


.#{$lotteryName}-wrapper {
  &.#{$lotteryName}-#{$lotteryPageRaffle} {
    .#{$lotteryName} {
      &-titleWrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
      }
      &-title {
        @include gradientText(top, #3d3d40, 0%, #000, 100%)
      }
    }
  }
}

