extends ../layouts/__main

block vars
	-lotteryName = 'testTest'
	-lotteryPage = 'account'

block content

	section(class=`${lotteryName}-sectionMain`)
		div(class=`${lotteryName}-container`)
			div(class=`${lotteryName}-titleWrapper`)
				h1(class=`${lotteryName}-title`)= lotteryPage

