extends ../layouts/__main

block vars
	-lotteryName = 'testTest'
	-jsReveal = 'js-animate'
	-lotteryPage = 'account'

block content

	section(class=`${lotteryName}-sectionMain`)
		div(class=`${lotteryName}-container`)
			h1(class=`${lotteryName}-title`)= lotteryPage
