extends ../layouts/_layout
block variables

block content

	//- Breadcrumbs
	+addBreadcrumbs(lotteryName)




	include ../particles/_sectionMain
	include ../particles/_sectionSteps




	//- Modal
	div(style="display: none")
		+addModalEnter()


	//- Addition Btn
	div(class=`${lotteryName}-addition`)
		+addBtnModal("E", "enter")


