extends ../layouts/_layout
//include ../layouts/_vars


block content
	+addBreadcrumbs("nameLottery")

	include ../particles/main

	//- Modal
	div(style="display: none")
		+addModalEnter()

	//- Addition Btn
	div(class=`${lotteryName}-addition`)
		+addBtnModal("enter", "E")

