extends ../layouts/_layout

block variables
	- var lotteryName = 'test_test'

block content

	h1 WEBPACK




	//- Scripts page start
	script(src="assets/js/libs/jQuery-viewport-checker.js")
	script(src="assets/js/libs/slick-slider.js")
	script(src="assets/js/libs/gsap-animation/TweenMax.min.js")
	script(src="assets/js/libs/gsap-animation/ScrollMagic.min.js")
	script(src="assets/js/libs/gsap-animation/animation.gsap.js")
	script(src="assets/js/libs/gsap-animation/debug.addIndicators.min.js")
	//- Scripts page end