extends ../layouts/_layout

block content

	h1 WEBPACK
	//+addShadowTitle("Привет", "Prizes")
	//+addTicketsScroll(50)
	//+addModalWin("win1", "img/modal/modal-car.png", "KIA STINGER")
	//+addModalRules()
	//	p LOLOL
	//	ol
	//		li test
	//		li test
	//		li test
	//div(class=`${lotteryName}-addition`)
	//	+addBtnModal("win1", "w1")
	//	+addBtnModal("win2", "w2")
	//	+addBtnModal("win3", "w3")
	//	+addBtnModal("result", "r")

	//+addModalTickets(1)
	//+addImg("prizeImg", "img/modal/modal-car.png")
	//+addModalEnter()
	//+addBtn("action__btn")
	//+addBreadcrumbs("nameLottery")