extends ../layouts/general

block variables
	- var title = 'RAFFLE'
	- var pageClass = 'rafflePage'

block content
	.wrapper
		h1 WEBPACK

	img(src="/assets/img/first.jpg")


	//block script
	script(src="/assets/js/libs/lib1.js")
