// Animations:
// =====================================================================================================================


// Btn main
@include animation(fillActive)
  0%
    opacity: 0.2
    transform: translate(-50%, -50%) scale(1.1, 1.3)
  100%
    opacity: 0
    transform: translate(-50%, -50%) scale(1)
@include animation(fill)
  0%
    opacity: 1
    transform: translate(-50%, -50%) scale(1)
  100%
    opacity: 0
    transform: translate(-50%, -50%) scale(1.1, 1.3)
@include animation(opacity)
  0%
    opacity: 1
  100%
    opacity: .8
@include animation(opacityActive)
  0%
    opacity: 1
  100%
    opacity: .8
@include animation(light)
  20%,100%
    width: 50%
    opacity: 0
    transform: translateX(150%) skew(-20deg)