/* Vars */
/*======================================================================================================================*/


// Main
$lotteryName             : 'testTest';
$lotteryPageIndex        : 'index';
$lotteryPageRaffle       : 'raffle';
$lotteryPageAccount      : 'account';
$mainFont                : 'Roboto', sans-serif;
$secondaryFont           : 'Roboto Condensed', sans-serif;
$is_rtl                  : 0;


// Main styles
$container               : 1580px;
$containerBig            : 100%;
$containerSmall          : 800px;
$fontColor               : #fff;
$fontSize                : 16px;
$fontWeight              : 400;






// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;