/*! Modals */
/*======================================================================================================================*/


.#{$lotteryName} {
  &-modal {
    position: relative;
    //display: none;
    opacity: 0;
    visibility: hidden;

    &--open {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      //display: block;
      transform: none;
      opacity: 1;
      z-index: 1000;
      visibility: visible;
      .#{$lotteryName}-modal {
        &__block {
          opacity: 1;
          transform: scaleX(1) translate(-50%,-50%);
          transition: all .5s ease;
        }
        &__body {
          opacity: 1;
          transform: translateY(0);
          transition: all .5s ease .5s;
        }
      }
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0, .8);
    }
    &__close {
      width: 21px;
      height: 21px;
      position: absolute;
      right: -30px;
      top: 0;
      cursor: pointer;
      z-index: 5;
      transform-origin: center;
      transform: scale(1) rotate(0);
      transition: .5s ease;
      &Img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: left top;
        background-repeat: no-repeat;
      }
      &:hover {
        transform: scale(1) rotate(90deg);
        transition: all .5s ease;

        .#{$lotteryName}-modal__closeImg {
          background-position: right top;
        }
      }

      &:active {
        transform: scale(0.8) rotate(90deg);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all .2s ease;
      }
    }
    &__scrollBlock {
      @include em((
        padding: 0 22px
      ), $fontSize);

      &.ps--active-y > .ps__rail-y {
        background-color: #666;
        display: block;
        width: 1px;
        opacity: 1;
        right: 2px !important;
      }

      .ps__thumb-y,
      .ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y,{
        width: 3px;
        background-color: #666;
        border-radius: 0;
        cursor: pointer;
        @include dir((
          right: -1px
        ));
      }

    }

    &__bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }

    &__block {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 auto;
      background: #000;
      color: #fff;
      opacity: 0;
      transform: scaleX(0) translate(-50%,-50%);
      transform-origin: left;
      transition: .5s ease;
      border: 1px solid #006eae;
      font-family: $secondaryFont;
    }
    &__body {
      position: relative;
      @include size(100%);
      z-index: 2;
      opacity: 0;
      transform: translateY(25px);
      transition: all .5s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    }
    &__btn {
      text-transform: uppercase;
      @include em((
        margin: 0 15px
      ), $fontSize);
    }

    &Enter & {
      &__block {
        line-height: 1.25;

        @include em((
          width: 650px,
          height: 320px,
        ), $fontSize);
      }
      &__text {
        position: relative;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        width: 70%;
        margin: 0 auto;

        @include em((
          font-size: 30px,
        ), $fontSize);

        span:first-child {
          display: block;
        }
        span {
          display: inline-block;

          @include em((
            padding: 0 3px,
          ), $fontSize);
        }
      }
      &__action {
        position: relative;

        @include em((
          margin-top: 45px
        ), $fontSize);
      }
      &__btn--main {
        display: inline-block;
        color: #fff;
        background: #6ab229;

        span {
          @include em((
            font-size: 30px,
            padding: 4px 48px
          ), $fontSize);

          &:after {
            display: none;
          }
        }
        &:before {
          background: linear-gradient(180deg, #6ab229 0%, #58921a 100%);
        }
        &:hover {
          &:before {
            opacity: 0;
            transition: all .5s ease;
          }
        }
      }
      &__btn--secondary {
        display: inline-block;
        color: #fff;
        background: #2fa9ef;
        span {
          @include em((
            font-size: 30px,
            padding: 4px 20px
          ), $fontSize);

          &:after {
            display: none;
          }
        }
        &:before {
          background: linear-gradient(180deg, #047ec4 0%, #2fa9ef 100%);
        }
        &:hover {
          &:before {
            opacity: 0;
            transition: all .5s ease;
          }
        }
      }
    }
    &Rules & {
      &__block {
        line-height: 1.25;
        @include em((
          width: 980px,
          height: 700px,
        ), $fontSize);
      }
      &__body {
        @include em((
                padding: 40px 15px
        ), $fontSize);
      }
      &__text {
        font-family: $mainFont;
        margin: 1em 0;

        span {
          display: inline-block;
          color: #0082d5;

          @include em((
            padding: 0 3px,
          ), $fontSize);
        }
        &--big  {
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          font-family: $secondaryFont;

          @include em((
            font-size: 30px,
            margin: 30px 0 15px
          ), $fontSize);

          &:first-of-type {
            margin-top: 0;
          }
        }
      }
      &__list {
        font-family: $mainFont;
        li {
          position: relative;

          @include em((
            margin: 6px 0,
            padding-left: 40px
          ), $fontSize);
          span {
            display: inline-block;
            color: #0082d5;

            @include em((
              padding: 0 3px,
            ), $fontSize);
          }
        }

        &--custom {
          li {
            &:before {
              content: '';
              position: absolute;
              background: url(/assets/img/modal/step-arr.png) no-repeat center;
              background-size: 100% 100%;

              @include em((
                left: 10px,
                top: 5px,
                width: 10px,
                height: 9px
              ), $fontSize);
            }
          }
        }
        &--decimal {
          counter-reset: list;
          li {
            &:before {
              content: counter(list)'.';
              counter-increment: list;
              position: absolute;
              left: 10px;
              top: 0;
            }
          }
        }
      }
    }
    &Hello & {
      &__block {
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1;
        text-align: center;

        @include em((
          width: 1097px,
          height: 492px
        ), $fontSize);
      }
      &__body {
        @include em((
                padding: 45px 15px
        ), $fontSize);
      }
      &__title {
        @include em((
          font-size: 52px
        ), $fontSize);
      }
      &__subtitle {
        @include em((
          font-size: 30px
        ), $fontSize);
      }
      &__names {
        @include em((
          margin: 40px 0
        ), $fontSize);

        span {
          display: block;

          @include em((
            margin: 3px 0,
            font-size: 34px
          ), $fontSize);
        }
      }
      &__name {
        color: #0082d5;

        @include em((
          font-size: 70px
        ), $fontSize);
      }
      &__img {
        position: absolute;
        z-index: -1;
        &--man2 {
          left: -3%;
          @include em((
            top: -32px,
            width: 413px
          ), $fontSize);
        }
        &--man1 {
          right: -7%;
          @include em((
            top: -30px,
            width: 479px
          ), $fontSize);
        }
      }

      &__btn--main {
        color: #fff;
        background: #6ab229;

        span {
          @include em((
            font-size: 30px,
            padding: 6px 28px
          ), $fontSize);

          &:after {
            display: none;
          }
        }
        &:before {
          background: linear-gradient(180deg, #6ab229 0%, #58921a 100%);
        }
        &:hover {
          &:before {
            opacity: 0;
            transition: all .5s ease;
          }
        }
      }
    }
  }
}