/*! Modals */
/*======================================================================================================================*/


.#{$lotteryName} {
  &-modal {
    position: relative;
    //display: none;
    opacity: 0;
    visibility: hidden;

    &--open {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      //display: block;
      transform: none;
      opacity: 1;
      z-index: 1000;
      visibility: visible;
      .#{$lotteryName}-modal {
        &__block {
          opacity: 1;
          transform: scaleX(1) translate(-50%,-50%);
          transition: all .5s ease;
        }
        &__body {
          opacity: 1;
          transform: translateY(0);
          transition: all .5s ease .5s;
        }
      }
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0, .8);
    }
    &__close {
      width: 21px;
      height: 21px;
      position: absolute;
      top: 0;
      cursor: pointer;
      z-index: 5;
      transform-origin: center;
      transform: scale(1) rotate(0);
      transition: .5s ease;
      background-image: url(/img/modal/close.png);
      @include dir((
              right: -30px
      ));
      &Img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: left top;
        background-repeat: no-repeat;
      }
      &:hover {
        transform: scale(1) rotate(90deg);
        transition: all .5s ease;

        .#{$lotteryName}-modal__closeImg {
          background-position: right top;
        }
      }

      &:active {
        transform: scale(0.8) rotate(90deg);
        box-shadow: em(0 0 10px, $fontSize) rgba(0, 0, 0, 0.1);
        transition: all .2s ease;
      }
    }
    &__scrollBlock {
      @include dir((
          padding: em(0 22px, $fontSize)
      ));

      &.ps--active-y > .ps__rail-y {
        background-color: #666;
        display: block;
        width: em(1px, $fontSize);
        opacity: 1;
        @include dir((
                left: auto !important,
                right: em(2px, $fontSize) !important
        ));
      }

      .ps__thumb-y,
      .ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y,{
        width: em(3px, $fontSize);
        background-color: #666;
        border-radius: 0;
        cursor: pointer;
        @include dir((
                left: auto,
                right: em(-1px, $fontSize)
        ));
      }

    }

    &__bg {
      position: absolute;
      top: 0;
      z-index: -1;
      @include dir((
              right: 0
      ));
    }

    &__block {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 auto;
      background: #000;
      color: #fff;
      opacity: 0;
      transform: scaleX(0) translate(-50%,-50%);
      transform-origin: left;
      transition: .5s ease;
      border: 1px solid #006eae;
      font-family: $secondaryFont;
    }
    &__body {
      position: relative;
      @include size(100%);
      z-index: 2;
      opacity: 0;
      transform: translateY(25px);
      transition: all .5s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    }
    &__btn {
      text-transform: uppercase;
      margin: em(0 15px, $fontSize);
    }

    &Enter & {
      &__block {
        line-height: 1.25;
        width: em(650px, $fontSize);
        height: em(320px, $fontSize);
      }
      &__text {
        position: relative;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        width: 70%;
        margin: 0 auto;
        font-size: em(30px, $fontSize);

        span:first-child {
          display: block;
        }
        span {
          display: inline-block;
          padding: em(0 3px, $fontSize);
        }
      }
      &__action {
        position: relative;
        margin-top: em(45px, $fontSize);
      }
      &__btn--main {
        display: inline-block;
        color: #fff;
        background: #6ab229;

        span {
          font-size: em(30px, $fontSize);
          padding: em(4px 48px, $fontSize);

          &:after {
            display: none;
          }
        }
        &:before {
          background: linear-gradient(180deg, #6ab229 0%, #58921a 100%);
        }
        &:hover {
          &:before {
            opacity: 0;
            transition: all .5s ease;
          }
        }
      }
      &__btn--secondary {
        display: inline-block;
        color: #fff;
        background: #2fa9ef;
        span {
          font-size: em(30px, $fontSize);
          padding: em(4px 20px, $fontSize);

          &:after {
            display: none;
          }
        }
        &:before {
          background: linear-gradient(180deg, #047ec4 0%, #2fa9ef 100%);
        }
        &:hover {
          &:before {
            opacity: 0;
            transition: all .5s ease;
          }
        }
      }
    }
    &Rules & {
      &__block {
        line-height: 1.25;
        width: em(980px, $fontSize);
        height: em(700px, $fontSize);
        @include mediaMixin(max, 1700) {
          width: em(900px, $fontSize);
          height: em(500px, $fontSize);
        }
      }
      &__body {
        display: block;
        @include dir((
                padding: em(40px 15px, $fontSize)
        ));
      }
      &__scrollBlock {
        max-height: em(617px, $fontSize);
        @include mediaMixin(max, 1700) {
          max-height: em(418px, $fontSize);
        }
      }
      &__text {
        font-family: $mainFont;
        margin: 1em 0;

        span {
          display: inline-block;
          color: #0082d5;
          @include dir((
                  padding: em(0 3px, $fontSize)
          ));
        }
        &--big  {
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          font-family: $secondaryFont;
          font-size: em(30px, $fontSize);
          @include dir((
                  margin: em(30px 0 15px, $fontSize)
          ));

          &:first-of-type {
            margin-top: 0;
          }
        }
      }
      &__list {
        font-family: $mainFont;
        li {
          position: relative;
          margin: em(6px 0, $fontSize);
          @include dir((
                  padding-left: em(40px, $fontSize)
          ));
          span {
            display: inline-block;
            color: #0082d5;
            @include dir((
                    padding: em(0 3px, $fontSize)
            ));
          }
        }

        &--custom {
          li {
            &:before {
              content: '';
              position: absolute;
              background: url(/img/modal/step-arr.png) no-repeat center;
              background-size: 100% 100%;
              top: em(5px, $fontSize);
              width: em(10px, $fontSize);
              height: em(9px, $fontSize);

              @include dir((
                      left: em(10px, $fontSize)
              ));
            }
          }
        }
        &--decimal {
          counter-reset: list;
          li {
            &:before {
              content: counter(list)'.';
              counter-increment: list;
              position: absolute;
              top: 0;
              @include dir((
                      left: em(10px, $fontSize)
              ));
            }
          }
        }
      }
    }
    &Hello & {
      &__block {
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1;
        text-align: center;
        width: em(1097px, $fontSize);
        height: em(492px, $fontSize);
        @include mediaMixin(max, 1700) {
          width: em(900px, $fontSize);
          height: em(430px, $fontSize);
        }
      }
      &__body {
        @include dir((
            padding: em(45px 15px, $fontSize)
        ));
      }
      &__title {
        font-size: em(52px, $fontSize);
        @include mediaMixin(max, 1700) {
          font-size: em(48px, $fontSize);
        }
      }
      &__subtitle {
        font-size: em(30px, $fontSize);
        @include mediaMixin(max, 1700) {
          font-size: em(26px, $fontSize);
        }
      }
      &__names {
        margin: em(40px 0, $fontSize);

        span {
          display: block;
          margin: em(3px 0, $fontSize);
          font-size: em(34px, $fontSize);
          @include mediaMixin(max, 1700) {
            font-size: em(30px, $fontSize);
          }
        }
      }
      &__name {
        color: #0082d5;
        font-size: em(70px, $fontSize);
        @include mediaMixin(max, 1700) {
          font-size: em(60px, $fontSize);
        }
      }
      &__img {
        position: absolute;
        z-index: -1;

        img {
          transform: scaleX(opposite-number(1))
        }
        &--man2 {
          top: em(-32px, $fontSize);
          width: em(413px, $fontSize);

          @include dir((
                  left: -3%
          ));
          @include mediaMixin(max, 1700) {
            top: em(5px, $fontSize);
            width: em(335px, $fontSize);
          }
        }
        &--man1 {
          @include dir((
                  right: -7%
          ));
          top: em(-30px, $fontSize);
          width: em(479px, $fontSize);
          @include mediaMixin(max, 1700) {
            top: em(-2px, $fontSize);
            width: em(396px, $fontSize);
          }
        }
      }

      &__btn--main {
        color: #fff;
        background: #6ab229;

        span {
          font-size: em(30px, $fontSize);
          @include dir((
                  padding: em(6px 28px, $fontSize)
          ));

          @include mediaMixin(max, 1700) {
            font-size: em(26px, $fontSize);
          }

          &:after {
            display: none;
          }
        }
        &:before {
          background: linear-gradient(180deg, #6ab229 0%, #58921a 100%);
        }
        &:hover {
          &:before {
            opacity: 0;
            transition: all .5s ease;
          }
        }
      }
    }
  }
}