//- Mixin block img
//- ====================================================================================================================


mixin addImg(urlImg)

	div&attributes(attributes)
		img(src=urlImg)