//- Mixin block ticketsScroll
//- ====================================================================================================================


mixin addTicketsScroll(countTicket)
	- countTicket = countTicket || 100
	div(class=`${lotteryName}-wrapperTickets ${lotteryName}-scroll`)
		- for (var i = 0; i < countTicket; i++)
		div(class=`${lotteryName}-ticket`) 79542362