block variables

meta(charset="utf-8")
title= lotteryName
meta(content="IE=Edge" http-equiv="X-UA-Compatible")
meta(content="width=device-width, initial-scale=1" name="viewport")

//- Styles main start
link(href="assets/styles/libs/perfect-scrollbar.css")
link(href="assets/styles/libs/slick-slider.css")
link(href="assets/styles/libs/animate.css")
//- Styles main end

//- Scripts main start
script(src="assets/js/libs/jQuery.js")
script(src="assets/js/libs/perfect-scrollbar.js")
//- Scripts main end