include  ../mixins/__mixinBlock
include  ../mixins/__mixinElement
include  ../mixins/__mixinModal

block variables
	- var lotteryName = 'testTest'
script.
	let lotteryName = 'testTest'


doctype html
html(lang='en')
	head
		include _head


	body(class=lotteryName)
		// <?php include('../assets/header-new.php'); ?> -------------------------------------------------------------------
		// -----------------------------------------------------------------------------------------------------------------
		// -----------------------------------------------------------------------------------------------------------------


		//- Styles main start
		link(href="assets/styles/libs/perfect-scrollbar.css")
		link(href="assets/styles/libs/jquery.arcticmodal-0.3.css")
		link(href="assets/styles/libs/slick-slider.css")
		//- Styles main end

		//- Styles page start
		link(href="assets/styles/libs/animate.css")
		//- Styles page end


		// -----------------------------------------------------------------------------------------------------------------
		// -----------------------------------------------------------------------------------------------------------------


		// Landing
		div(class=`${lotteryName}-wrapper`)
			div(class=`${lotteryName}-inner`)

				//- Content start

				block content

				//- Content end


		// -----------------------------------------------------------------------------------------------------------------
		// -----------------------------------------------------------------------------------------------------------------


		//- Scripts main start
		script(src="assets/js/libs/jQuery.js")
		script(src="assets/js/libs/perfect-scrollbar.js")
		script(src="assets/js/libs/jquery.arcticmodal-0.3.min.js")
		script(src="assets/js/libs/jquery.countdown.min.js")
		//- Scripts main end

		//- Scripts page start
		script(src="assets/js/libs/jQuery-viewport-checker.js")
		script(src="assets/js/libs/slick-slider.js")
		script(src="assets/js/libs/gsap-animation/TweenMax.min.js")
		script(src="assets/js/libs/gsap-animation/ScrollMagic.min.js")
		script(src="assets/js/libs/gsap-animation/animation.gsap.js")
		script(src="assets/js/libs/gsap-animation/debug.addIndicators.min.js")
		//- Scripts page end


		// -----------------------------------------------------------------------------------------------------------------
		// -----------------------------------------------------------------------------------------------------------------
		// <?php include('../assets/footer-new.php'); ?> -------------------------------------------------------------------