//- PUG Variables
block variables
	- var lotteryName = 'testTest'
	- var jsReveal = 'js-animate'

//- JS Variables
script.
	var lotteryName = 'testTest',
			jsReveal = 'js-animate',
			hash = location.search.replace(/\?/, ''),
			direction = false;


