/* General */
/*======================================================================================================================*/


@import "../scss/utils/_reset";
@import "../scss/utils/_vars";
@import "../scss/_media-variables";
@import "../scss/utils/_mixins";
@import "../scss/utils/_rtl";
@import "../scss/utils/_animations";
@import "../scss/utils/_fonts";
@import "../scss/particles/_base";
@import "../scss/particles/_modals";
@import "../scss/pages/_index";
@import "../scss/pages/_raffle";
@import "../scss/pages/_account";

@import "../scss/_include-media";


.#{$lotteryName} {
  &-timer__title {
    background: #000;
    color: #fff;
    @include dir((
      //margin-left: 20px
      direction: opposite-direction(ltr),
      text-align: opposite-direction(left),
      margin: 0 10px 0 30px,
    ));
    //@include media('<=HD') {
    //  background: red
    //}
    //@include mediaMixin(max, 550) {
    //  background: green;
    //}
    @include mediaDevices(iphone5) {
      background: green;
    }


  }
}