/* General */
/*======================================================================================================================*/


@import "utils/_reset";
@import "utils/_vars";
@import "utils/media-variables";
@import "utils/_mixins";
@import "utils/_rtl";
@import "utils/_animations";
@import "utils/_fonts";
@import "particles/_base";
@import "particles/_modals";
@import "pages/_index";
@import "pages/_raffle";
@import "pages/_account";

@import "utils/include-media";


.#{$lotteryName} {
  direction: opposite-direction(ltr);

  &-timer__title {
    background: #000;
    color: #fff;

    @include dir((
      text-align: opposite-direction(left),
      margin: 0 10px 0 30px,
    ));

    //@include media('<=HD') {
    //  background: red
    //}

    //@include mediaMixin(max, 550) {
    //  background: green;
    //}

    @include mediaDevices(iphone6) {
      background: green;
    }


  }
}